.tprincipal{
  
    background-color: #eeac86e0;
   text-align: center;
    border: solid 1px black;
    border-radius: 5px;
    margin: 60px;
   
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}