.tprincipal {
    background-color: #eeac86e0;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
    margin: 60px;
}

.Cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    padding: 20px;
}

.carrito_icon{
    width: 40px;
}

.boton_carrito{
    width: 20px;
    height: 20px;
    background: none;
}

a .boton_producto{
    width: fit-content;
    height: fit-content;
    background: none;
}

/* Carrito */

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");

.card-hover {
    border-radius: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 360px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);

    &:hover {
        .card-hover__content {
            background-color: #dee8c2;
            bottom: 100%;
            transform: translateY(100%);
            padding: 50px 60px;
            transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
        }

        .card-hover__link {
            opacity: 1;
            transform: translate(-50%, 0);
            transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
        }

        img {
            transform: scale(1);
            transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
        }
    }

    .card-hover__content {
        width: 100%;
        text-align: center;
        background-color: #86b971;
        padding: 0 60px 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(0);
        transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
        will-change: bottom, background-color, transform, padding;
        z-index: 1;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 120px;
            background-color: inherit;
            position: absolute;
            left: 0;
            z-index: -1;
        }

        &::before {
            top: -80px;
            clip-path: ellipse(60% 80px at bottom center);
        }

        &::after {
            bottom: -80px;
            clip-path: ellipse(60% 80px at top center);
        }
    }

    .card-hover__title {
        font-size: 1.5rem;
        margin-bottom: 1em;

        span {
            color: #2d7f0b;
        }
    }

    .card-hover__text {
        font-size: 0.75rem;
    }

    .card-hover__link {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, 10%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-decoration: none;
        color: #2d7f0b;
        opacity: 0;
        padding: 10px;
        transition: all 0.35s;
    }

    .card-hover__extra {
        height: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        background-color: #86b971;
        padding: 80px;
        bottom: 0;
        z-index: 0;
        color: #dee8c2;
        transform: translateY(100%);
        will-change: transform;
        transition: transform 0.35s;

        span {
            color: #2d7f0b;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        transform: scale(1.2);
        transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
    }

    img .carrito{
        width: 10px;
    }
}