@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
.App {
  font-family: 'Berkshire Swash', cursive;
  font-size: 16px;
  line-height: 1.5;
  background-color: #e5b9735d;
}