.general_admin {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    padding: 50px;
    font-size: 50px;
    height: fit-content;
}

.izquierda {
    background-color: black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-color: #e5b9735d;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.derecha {
    background-color: red;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: #e5b9735d;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.izquierda .pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #F2F2F2;
    width: 90%;
    height: 350px;
    margin: 10px 0px;
}

.izquierda .reserva_contenedor {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    bottom: 30px;
    width: 90%;
    height: 350px;
    margin: 10px 0px;
}

.derecha .derecha_arriba {
    background-color: rgba(255, 78, 30, 0.308);
    backdrop-filter: blur(10px);
    width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1.5fr 1fr;
    grid-column-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0px;
}

.derecha .derecha_arriba .ingresos {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0px;
    height: fit-content;
}

.derecha .derecha_arriba .egresos {
    background-color: #F2F2F2;
    height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    padding: 10px 30px;
}

.derecha .derecha_arriba .egresos input{
    height: 30px;
    font-size:20px;
    width: 300px;
}

.derecha .derecha_arriba .ganancias {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    padding: 10px;
    transform: translateY(-70px);
}

.derecha .derecha_abajo {
    background-color: rgba(255, 78, 30, 0.308);
    backdrop-filter: blur(10px);
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin: 10px 0px;
}

.derecha .derecha_abajo .mesas {
    background-color: #F2F2F2;
    width: 45%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.derecha .derecha_abajo .domicilios {
    background-color: #F2F2F2;
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 10px 0px;
}

.botoncito{
    width:130px;
    margin: auto;
}

.cosito {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/*Responsive raro */
@media screen and (max-width: 768px) {
    .general_admin {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
        grid-column-gap: 0;
        grid-row-gap: 20px;
        padding: 20px;
        font-size: 36px;
    }

    .izquierda,
    .derecha {
        /* height: auto; */
    }

    .izquierda .pedido,
    .izquierda .reserva_contenedor,
    .derecha .derecha_arriba,
    .derecha .derecha_abajo {
        /* width: 100%; */
        /* height: auto; */
    }

    .derecha .derecha_arriba {
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
    }

    .derecha .derecha_abajo {
        flex-direction: column;
    }

    .derecha .derecha_abajo .mesas,
    .derecha .derecha_abajo .domicilios {
        width: 100%;
    }
}