.menu {
    background-color: #dd9e3b5d;
    padding: 100px;
    text-align: center;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.menu-item {
    margin-right: 40px;
    margin-bottom: 40px;
    width: 300px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item img {
    width: 100%;
}

.menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.rating-section {
    background-color: #e5b9735d;
    padding: 50px 20px;
    text-align: center;
}

.rating {
    flex-direction: row-reverse;
    display: inline-flex;
    font-size: 40px;
    margin-bottom: 20px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    color: #ffc107;
    cursor: pointer;
    font-size: 30px;
}

.rating label:hover,
.rating label:hover~label,
.rating input[type="radio"]:checked~label {
    color: #ff9800;
}

.about {
    
    text-align: center;
    
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    margin-bottom: 40px;
}

.hero {
    background-position: center;
    background-size: cover;
    color: #8b4a00;
    padding: 100px;
    text-align: center;
    
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
    padding-top:40px;
}

.btn-cta {
    background-color: #fff;
    border: 2px solid #fff;
    color: #333;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    font-size: x-large;
    margin: 50px;
    border-radius: 20px;

}

.btn-cta:hover {
    background-color: #333;
    color: #fff;
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
 
}

.swiper-slide:nth-child(1n) {
  background-image: "https://imgs.search.brave.com/B7s_tXyUvoKTFDAfO0-Ln-rluWMD5v-baJ7AsGjut9Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzk2LzVl/LzcwLzk2NWU3MDE2/OTNjODI0MWM4ZTc5/YTllMzhlN2IxNzc1/LmpwZw";
}

.swiper-slide:nth-child(2n) {
  background-color: rgba(0, 140, 255, 0);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
 background-color: rgb(218, 12, 218);  
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
.card{
background: #dd9e3b5d;
    border: solid;
}

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #ff0000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiperCarrusel {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
