footer{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    padding: 8px;
    background-image: radial-gradient(circle at 111.24% 85.36%, #bfffb5 0, #a7ffbd 8.33%, #8fffc3 16.67%, #75ffc6 25%, #5cf3c6 33.33%, #45e1c2 41.67%, #31cbba 50%, #24b6af 58.33%, #1fa3a5 66.67%, #20939c 75%, #238794 83.33%, #277c8d 91.67%, #2c7589 100%);
}

footer .redes{
    display:flex;
    justify-content:center;
    align-items: center;
}

footer .redes h3{
    width:250px;
    margin: 20px;
}

footer .redes a{
    margin: 20px;
}

footer .mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .derechos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}

footer .derechos img{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 20px;
    }

    footer .redes h3 {
        width: auto;
        margin: 10px;
    }

    footer .redes a {
        margin: 10px;
    }
    
    footer .derechos {
        margin-left: 0;
    }

    footer .derechos img {
        width: 80px;
        height: 80px;
    }
}
