@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
* {
    font-family: 'Berkshire Swash', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background: rgb(248,174,54);
    background: linear-gradient(148deg, rgba(248,174,54,1) 4%, rgba(248,112,54,1) 50%, rgba(255,128,33,0.865983893557423) 78%, rgba(248,173,54,0.969625350140056) 98%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav img {
    height: 130px;
    margin-left: 20px;
}

ul{
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li{
    width:140px;
    text-align: center!important ;
    height: auto;
    margin: 5px;
    font-size: 20px;
    position: relative;
}

a{
    text-decoration: none;
    color: #000000;
}

li a:hover{
    color: #EE5722;
}

li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background-color: #EE5722;
    position: absolute;
    bottom:-4px;
    left: 20px;
}