@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
* {
    font-family: 'Berkshire Swash', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background: rgb(53,200,184);
    background: linear-gradient(90deg, rgba(53,200,184,1) 8%, rgba(68,227,99,0.8435749299719888) 31%, rgba(67,226,103,1) 73%, rgba(53,200,184,1) 97%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav img {
    height: 130px;
    margin-left: 20px;
}

ul{
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li{
    width:140px;
    text-align: center!important ;
    height: auto;
    margin: 5px;
    font-size: 20px;
    position: relative;
}

a{
    text-decoration: none;
    color: #000000;
}

li a:hover{
    color: #EE5722;
}

li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background-color: #EE5722;
    position: absolute;
    bottom:-4px;
    left: 20px;
}