@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
* {
    font-family: 'Berkshire Swash', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #8CE3A8;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

ul{
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li{
    width:140px;
    text-align: center!important ;
    height: auto;
    margin: 5px;
    font-size: 20px;
    position: relative;
}

a{
    text-decoration: none;
    color: #000000;
}

li a:hover{
    color: #EE5722;
}

li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background-color: #EE5722;
    position: absolute;
    bottom:-4px;
    left: 20px;
}