body {
  background-image: url('https://res.cloudinary.com/dwjwb4mza/image/upload/v1693922565/el_barranquero/WhatsApp_Image_2023-09-05_at_8.59.13_AM_hjzps4.jpg');
  background-size: cover;
  background-color: #e5b9735d;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}