body {
  background-image: url('https://res.cloudinary.com/drvg6pa3z/image/upload/v1697661762/fondo_proyecto_qx08kr.png') ;
  background-size: cover;
  height: 100%;
    width: 100%;
  background-color: #e5b9735d;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}