/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Berkshire Swash', cursive;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* Estilos del encabezado */

header {
  background-color: #f7f7f7;
  padding: 20px;
}

.logo img{
  width:100px;
  height:100px;
  border-radius: 50%;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-weight: bold;
  font-size: larger;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

nav #reserva {
  width: 120px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background-color:#8b4a00;
  border-radius: 20px;
  color: white;
}

nav ul li .actual{
  color: rgba(51, 51, 51, 0.8);
}

/* Estilos del héroe */

.hero {
  background-image: url('img.jpg.jpeg');
  background-position: center;
  background-size: cover;
  color: #8b4a00;
  padding: 100px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 40px;
}

.btn-cta {
  background-color: #fff;
  border: 2px solid #fff;
  color: #333;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-cta:hover {
  background-color: #333;
  color: #fff;
}

/*Estilos carrusel */

.carousel {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease;
}

.slide.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #ffffff;
}

/* Estilos de la sección "Sobre nosotros" */

.about {
  padding: 100px;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 20px;
  margin-bottom: 40px;
}

/* Estilos de la sección "Menú" */

.menu {
  background-color: #f7f7f7;
  padding: 100px;
  text-align: center;
}

.menu h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.menu-item {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 300px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item img {
  width: 100%;
}

.menu-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

.rating-section {
  background-color: #f8f8f8;
  padding: 50px 20px;
  text-align: center;
}

.rating {
  flex-direction: row-reverse;
  display: inline-flex;
  font-size: 40px;
  margin-bottom: 20px;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  color: #ffc107;
  cursor: pointer;
  font-size: 30px;
}

.rating label:hover,
.rating label:hover~label,
.rating input[type="radio"]:checked~label {
  color: #ff9800;
}

/* Estilos del pie de página */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.redes-sociales a {
  display: inline-block;
  margin-right: 20px;
}

.redes-sociales img {
  width: 30px;
}