.cuerpo_pedidos {
    background-color: #e5b9735d;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.cuerpo_pedidos button{
    width:34rem;
    height: 80px;
    margin: 50px;
    border-radius: 50px;
}

.cuerpo_pedidos .btn{
    border-radius: 60px;
    font-size:30px;
}

.cuerpo_pedidos .btn:hover{
    width:34rem;
    height: 80px;
    margin: 50px;
    border-radius: 50px;
    background-color: #238f35;
}

.reserva{
    width: 56%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    align-items: start;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    background-color: rgb(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
}

.cuerpo_pedidos button{
    background-color: #238f35;
    font-size: 40px;
}